<div class="filme-principal">
        <div class="imagens">
            <img class="poster" src={{filme.poster}}>
            <div class="botoes">
                <button mat-raised-button color="primary">WATCH NOW</button>
                <button mat-raised-button>MORE INFO</button>
            </div>
        </div>
        <div class="info">
            <h1 class="titulo">{{filme.nome}}</h1>
            <h2 class="genero">{{filme.genero}}</h2>
            <h3 class="ano">Year:{{filme.ano}} </h3>
            <h3 class="diretor">{{filme.diretor}}</h3>
            <p class="descricao">{{filme.descricao}}</p>

        </div>

</div>