<mat-toolbar color="primary">
  <div class="botao-home">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="clickHome()"
  >
    <mat-icon>movie</mat-icon>
    <span class="titulo">Movie List</span>
  </button>
</div>
  
<div class="pesquisar">
  <mat-form-field class="example-form-field">
    <mat-label>Search by name...</mat-label>
    <input matInput
    #pesquisaFilme
    type="search"
    placeholder="Nome do Filme"
    [(ngModel)]="filtroFilme"
    (keyup.enter)="sendit(filtroFilme)" 

    />

  
    
  </mat-form-field>
  </div>

</mat-toolbar>
